.box {
  display: inline-block;
  background: rgb(255, 114, 175);
  color: black;
  width: 300px;
  height: 350px;
  border-radius: 30px;
  padding: 25px;
  transition: background 0.5s;
  margin-right: 20px;
  white-space: wrap;
  flex: 0 0 auto;
  position: relative;
  overflow: scroll;
}

.box:hover {
  background: rgb(255, 151, 196);
}

.box p {
  font-size: 18px;
}

.purchaseBtn {
  position: absolute;
  transform: translateX(22.5%);
  bottom: 60px;
}
.goingBtn {
  position: absolute;
  transform: translateX(22.5%);
  bottom: 20px;
}